.Game-Card {
  display: flex;
  flex-direction: default;
  align-items: center;
  justify-content: space-between;
  background-color: pink;
  height: 100%;
  width: 100%;
}


.Game-Img-Container, .Game-Title {
  display: flex;
  align-items: center;
  height: inherit;
  width: 30%;
}

.Game-Img {
  height: inherit;
  width: 30%;
}

.Price-Percentage > h3 {
  background-color: green;
  color: white;
}

.Title, .Price-Cut {
  color: white;
  font-size: 90%
}

.Price-Cut {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.normalPrice {
  color: grey;
  text-decoration: line-through;
}
