
.Home {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Welcome {
  padding: 5%;
}

.Stores-Container {
  display: grid;
  grid-template-columns: repeat(4, .5fr);
  height: 60%;
  width: 60%;
}
