
.Home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Stores-Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  height: 50%;
  width: 50%;
}
